body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.form-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-container button {
    padding: 10px;
    background-color: #121212;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.form-container button:hover {
    background-color: #121212;
}

.form-container .redirect {
    margin-top: 10px;
    font-size: 14px;
}

.form-container .redirect a {
    color: #121212;
    text-decoration: none;
}

.form-container .redirect a:hover {
    text-decoration: underline;
}



